# dependencies
node_modules/

# next build output
.next/
out/
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files (IMPORTANT)
.env
.env.*
!.env.example

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# misc
*.log

# local / heavy files
*.traineddata
FIX_ALL_ALERTS.js


# local / heavy files
*.traineddata
FIX_ALL_ALERTS.js

